html {
  font-size: 1rem;
}

@include media-breakpoint-up(sm) {
  html {
    font-size: 1.2rem;
  }
}

@include media-breakpoint-up(md) {
  html {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  html {
    font-size: 1.6rem;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  padding-top:  180px;
}

header {
  padding-bottom:25px;
}

h1, h2, h3, h4 {
 font-family: 'B612 Mono', monospace;
}

footer hr{
  border: 2px solid white;
}

h1{
  display:inline;
}

.title{
  font-size:3vw;
}
.foot{
  padding:0px;
}
.center-align {
  margin: 0 auto;
}

.logo{
  max-width:100%;
  height:auto;
}

@media screen and (max-width: 768px) {
    body { padding-top: 80px; }
    }

.text-red{
  color:red;
}

.text-black{
  color: black;
}

.text-blue{
  color:blue;
}

.text-white{
  color:white;
}

.bg-dark1{
  background-color: #2C3E50;
}